<%- include('partials/header') %>

<div class="container-fluid mt-5">
  <div class="row center">
    <div class="col-xl-4 col-lg-6 col-md-8 col-sm-12 box">
      <form action="/create" method="POST">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" name="title" maxlength="40" required>
        </div>
        <div class="form-group">
          <label for="textarea">Note</label>
          <textarea class="form-control" name="textarea" rows="4" maxlength="280" required></textarea>
        </div>
        <button type="submit" class="btn button">Submit</button>
      </form>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
